<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wyc.systemmgr.dao.UserDao">
    <insert id="insert"  parameterType="com.wyc.systemmgr.entity.User">
        insert into sys_user
            (id,name,username,password,sex,phone,email,qq,address,role_id,department_id,created_time,created_user_id)
        values
            (#{id},#{name},#{username},#{password},#{sex},#{phone},#{email},#{qq},#{address},#{role_id},#{department_id},now(),#{created_user_id})
    </insert>

    <update id="update" parameterType="com.wyc.systemmgr.entity.User">
        update sys_user
        <set>
            <if test="name != null">name=#{name},</if>
            <if test="username != null">username=#{username},</if>
            <if test="sex != null">sex=#{sex},</if>
            <if test="phone != null">phone=#{phone},</if>
            <if test="email != null">email=#{email},</if>
            <if test="qq != null">qq=#{qq},</if>
            <if test="address != null">address=#{address},</if>
            <if test="role_id != null">role_id=#{role_id},</if>
            <if test="department_id != null">department_id=#{department_id},</if>
            update_time = now(),
            update_user_id = #{update_user_id}
        </set>
        where id=#{id}
    </update>


    <delete id="delete">
        delete from sys_user where id=#{id}
    </delete>

    <select id="find" resultType="java.util.HashMap">
        select * from  (
            select
                a.id,a.name,a.username,a.sex,case a.sex when "1" then "男" when "2" then "女" end sex_text,a.phone,a.email,a.qq,a.address,
                a.role_id,
                b.name role,
                a.department_id,
                c.`name` department,
                DATE_FORMAT(a.created_time, '%Y-%m-%d %H:%i:%s') created_time,
                a.created_user_id,
                (select name from sys_user where id = a.created_user_id) created_user_name,
                DATE_FORMAT(a.update_time, '%Y-%m-%d %H:%i:%s') update_time,
                a.update_user_id,
                (select name from sys_user where id = a.update_user_id) update_user_name
            from
                sys_user a
            left join sys_role b
                on a.role_id = b.id
            left join sys_department c
                on a.department_id = c.id
        ) a
        where 1=1
            <if test="name != null and name !=''" > and name like "%"#{name}"%"</if>
            <if test="sex != null and sex !=''"> and sex=#{sex}</if>
            <if test="phone != null and phone !=''"> and phone like "%"#{phone}"%"</if>
            <if test="email != null and email !=''"> and email like "%"#{email}"%"</if>
            <if test="department != null and department !=''"> and department like "%"#{department}"%"</if>
            <if test="role != null and role !=''"> and role like "%"#{department}"%"</if>
            <if test="roleId != null and roleId !=''"> and role_id = #{roleId}</if>
            <if test="departmentId != null and departmentId !=''">
                and department_id in (select id from sys_department where FIND_IN_SET(id,getDeptChildList(#{departmentId})) order by level,seq)
            </if>
        order by created_time
    </select>


    <select id="findUserByUsername" resultType="java.util.HashMap">
        select * from  (
            select
                a.id,
                a.name,
                a.username,
                a.password,
                a.role_id,
                b.name role,
                a.department_id,
                c.name department
            from
                sys_user a
            left join sys_role b
                on a.role_id = b.id
            left join sys_department c
                on a.department_id = c.id
            ) a
        where username = #{username}
    </select>

    <update id="changePassword" parameterType="java.util.HashMap">
        update sys_user set password = #{password} where id = #{userId}
    </update>

</mapper>
