<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Cache-Control" content="no-cache">
        <meta http-equiv="Expires" content="0">
        <title>后台管理</title>
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/jquery.md5.js"></script>
        <script type="text/javascript" src="js/login.js"></script>
        <link href="css/login.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <script type="text/javascript">

            if(window !=top){
                top.location.href=location.href;
            }

        </script>
        <div class="login_box">
              <div class="login_l_img"><img src="images/login-img.png" /></div>
              <div class="login">
                  <div class="login_logo"><a href="#"><img src="images/login_logo.png" /></a></div>
                  <div class="login_name">
                       <p>后台管理系统</p>
                  </div>
                  <div>
                        <input id="username" name="username" type="text" placeholder="用户名" value="admin">
                        <input id="password" name="password" type="password"  placeholder="密码" value="admin"/>
                        <input id="code"  name="code" type="text" placeholder="验证码"  style="width:42%;"/>
                        <a>
                            <img id="identifyCode" class="code" style="width:45%;margin-left: 11%" src="identifyCode">
                        </a>
                        <input id="submit" value="登录" style="width:100%;" type="submit">
                  </div>
              </div>
              <div class="copyright">某某有限公司 版权所有©2016-2018 技术支持电话：000-00000000</div>
        </div>
    </body>
</html>
